:root {
  --color-orange-0: #fff4e6;
  --color-orange-1: #ffe8cc;
  --color-orange-2: #ffd8a8;
  --color-orange-3: #ffc078;
  --color-orange-4: #ffa94d;
  --color-orange-5: #ff922b;
  --color-orange-6: #fd7e14;
  --color-orange-7: #f76707;
  --color-orange-8: #e8590c;
  --color-orange-9: #d9480f;
}
